## ***Pandas tutorial part 2 begins - from here onwards we have to work on the different Dataset of Top 50 companies of India and their ranks, revenues, profits and market value!***

In [ ]:
#Importing required libraries
import numpy as np
import pandas as pd

In [ ]:
'''About Dataset

Description

Company Name - Name of the Fortune 500 company
Number of Employees - Total number of employees in the company
Previous Rank - Rank for the year 2016
Revenues - Revenue of the company for the year 2016-17 in $ millions.
Revenue Change - Percentage of Revenue change from last year
Profits - Profits of the company in $ million
Profit Change - Change in the percentage of profit from previous year.
Assets - Value of assets in $ millions
Market Value - Market Value of the company as of 3/31/17

Acknowledgements

This dataset is compiled by Fortune Magazine (www.fortune.com/fortune500).
This is the limited version of the original data'''

In [ ]:
#Loading dataset into the notebook name as company
company = pd.read_csv('India50.csv', encoding='ISO-8859-1')

In [ ]:
#To print top 5 rows of the dataset or we can say head of the dataset. [BY DEFAULT  IT SHOWS TOP 5 VALUES ]
#If you want to print top x values or row simply (x) in the bracket
company.head()

,Unnamed: 0,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63,Conglomerate
1,1,2,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39,Banking
2,2,3,154,HDFC Bank,Mumbai,22.51,5.11,280.16,98.28,Banking
3,3,4,205,ICICI Bank,Mumbai,21.89,3.01,226.39,67.90,Banking
4,4,5,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62,Oil and gas

In [ ]:
#Grouby function can allow analysis of data by making groups
Industry = company.groupby('Industry')

In [ ]:
Industry

In [ ]:
#To check number of rows
len(company)

50

In [ ]:
#To check number of rows in Industry
len(Industry)

19

In [ ]:
#To check the size of the Industry (Sorted all the companies according to the Industry the companies are)
Industry.size()

Industry
Automotive             3
Banking               12
Capital goods          1
Chemicals              1
Conglomerate           1
Consumer Goods         2
Diversified            1
Financials             4
Gems and jewellery     1
Infotech               5
Iron and steel         3
Metals and mining      3
Oil and gas            5
Pharmaceuticals        1
Renewable energy       1
Retail                 1
Shipping               1
Telecommunication      1
Utilities              3
dtype: int64

In [ ]:
#Returns the best performing company for each Industry
Industry.first()

,Unnamed: 0,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$)
Industry,,,,,,,,,
Automotive,20,21,729,Tata Motors,Mumbai,39.04,â2.44,42.32,22.12
Banking,1,2,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39
Capital goods,11,12,514,Larsen & Toubro,Mumbai,20.53,1.12,40.82,31.13
Chemicals,44,45,1687,Asian Paints,Mumbai,3.77,0.41,2.84,39.69
Conglomerate,0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63
Consumer Goods,26,27,846,ITC Limited,Kolkata,7.91,2.00,10.04,42.06
Diversified,25,26,827,Grasim Industries,Mumbai,12.35,0.87,36.94,14.77
Financials,5,6,269,HDFC,Mumbai,18.48,2.91,118.61,52.30
Gems and jewellery,43,44,1656,Rajesh Exports,Bangalore,30.00,0.15,2.70,2.50
Infotech,7,8,385,Tata Consultancy Services,Mumbai,25.73,5.14,18.68,172.79
Iron and steel,8,9,408,Tata Steel,Kolkata,31.07,5.01,34.62,20.42
Metals and mining,14,15,593,Vedanta Limited,Mumbai,16.38,2.63,25.30,20.21
Oil and gas,4,5,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62
Pharmaceuticals,36,37,1362,Sun Pharmaceutical,Mumbai,5.10,0.87,9.30,28.97
Renewable energy,42,43,1570,Adani Green Energy,Ahmedabad,0.41,0.01,3.93,59.06
Retail,49,50,1759,DMart,Mumbai,4.00,0.20,1.93,34.12
Shipping,41,42,1489,Adani Ports & SEZ Limited,Ahmedabad,2.10,0.67,11.36,24.12
Telecommunication,18,19,710,Bharti Airtel,New Delhi,14.98,0.406,48.72,56.80
Utilities,10,11,484,NTPC Limited,New Delhi,17.00,2.17,55.00,20.32

In [ ]:
#Returns the worst performing company for each Industry
Industry.last()

,Unnamed: 0,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$)
Industry,,,,,,,,,
Automotive,48,49,1756,Bajaj Auto,Pune,4.54,0.83,4.51,13.79
Banking,40,41,1525,Bank of India,Mumbai,6.26,0.39,98.51,2.66
Capital goods,11,12,514,Larsen & Toubro,Mumbai,20.53,1.12,40.82,31.13
Chemicals,44,45,1687,Asian Paints,Mumbai,3.77,0.41,2.84,39.69
Conglomerate,0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63
Consumer Goods,38,39,1453,Adani Enterprises,Ahmedabad,7.86,0.09,11.09,32.70
Diversified,25,26,827,Grasim Industries,Mumbai,12.35,0.87,36.94,14.77
Financials,37,38,1514,Indian Railway Finance Corporation,New Delhi,2.55,0.82,58.03,3.83
Gems and jewellery,43,44,1656,Rajesh Exports,Bangalore,30.00,0.15,2.70,2.50
Infotech,46,47,1730,Tech Mahindra,Pune,5.72,0.69,5.51,16.61
Iron and steel,33,34,1171,Steel Authority of India,New Delhi,12.98,1.79,15.87,5.48
Metals and mining,19,20,726,Coal India,Kolkata,14.03,2.06,22.30,16.30
Oil and gas,47,48,1746,Adani Total Gas,Ahmedabad,0.35,0.07,0.50,34.74
Pharmaceuticals,36,37,1362,Sun Pharmaceutical,Mumbai,5.10,0.87,9.30,28.97
Renewable energy,42,43,1570,Adani Green Energy,Ahmedabad,0.41,0.01,3.93,59.06
Retail,49,50,1759,DMart,Mumbai,4.00,0.20,1.93,34.12
Shipping,41,42,1489,Adani Ports & SEZ Limited,Ahmedabad,2.10,0.67,11.36,24.12
Telecommunication,18,19,710,Bharti Airtel,New Delhi,14.98,0.406,48.72,56.80
Utilities,45,46,1705,Adani Transmission,Ahmedabad,1.49,0.16,6.11,38.15

In [ ]:
#Returns a Dictionary of the Industry column with element (Index of companies in the particular sector)
Industry.groups

{'Automotive': [20, 32, 48], 'Banking': [1, 2, 3, 9, 16, 28, 29, 30, 31, 35, 39, 40], 'Capital goods': [11], 'Chemicals': [44], 'Conglomerate': [0], 'Consumer Goods': [26, 38], 'Diversified': [25], 'Financials': [5, 21, 27, 37], 'Gems and jewellery': [43], 'Infotech': [7, 12, 22, 23, 46], 'Iron and steel': [8, 13, 33], 'Metals and mining': [14, 17, 19], 'Oil and gas': [4, 6, 15, 34, 47], 'Pharmaceuticals': [36], 'Renewable energy': [42], 'Retail': [49], 'Shipping': [41], 'Telecommunication': [18], 'Utilities': [10, 24, 45]}

In [ ]:
#To get entire rows of those companies that lie under the Industry given in bracket
Industry.get_group('Automotive')

,Unnamed: 0,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
20,20,21,729,Tata Motors,Mumbai,39.04,â2.44,42.32,22.12,Automotive
32,32,33,1063,Mahindra & Mahindra,Mumbai,11.59,0.73,22.36,14.96,Automotive
48,48,49,1756,Bajaj Auto,Pune,4.54,0.83,4.51,13.79,Automotive

In [ ]:
#Adds up all the numerical values for each Industry and shows up as a dataframe
Industry.sum()

<ipython-input-98-7991f18bb851>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Industry.sum()

,Unnamed: 0,Rank,Forbes 2000 rank,Revenue(billions US$),Assets(billions US$),Value(billions US$)
Industry,,,,,,
Automotive,100,103,3548,55.17,69.19,50.87
Banking,263,275,9789,183.89,2296.83,337.52
Capital goods,11,12,514,20.53,40.82,31.13
Chemicals,44,45,1687,3.77,2.84,39.69
Conglomerate,0,1,54,86.85,192.59,228.63
Consumer Goods,64,66,2299,15.77,21.13,74.76
Diversified,25,26,827,12.35,36.94,14.77
Financials,90,94,3448,39.82,324.89,92.38
Gems and jewellery,43,44,1656,30.00,2.70,2.50
Infotech,110,115,4283,69.04,65.01,354.14
Iron and steel,54,57,2153,53.55,67.89,46.00
Metals and mining,50,53,1962,54.74,75.05,51.62
Oil and gas,106,111,4163,193.01,164.95,100.57
Pharmaceuticals,36,37,1362,5.10,9.30,28.97
Renewable energy,42,43,1570,0.41,3.93,59.06
Retail,49,50,1759,4.00,1.93,34.12
Shipping,41,42,1489,2.10,11.36,24.12
Telecommunication,18,19,710,14.98,48.72,56.80
Utilities,79,82,3011,24.10,95.67,79.04

In [ ]:
#If you want mean for Industries
Industry.mean()

<ipython-input-99-d153f34a5484>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Industry.mean()

,Unnamed: 0,Rank,Forbes 2000 rank,Revenue(billions US$),Assets(billions US$),Value(billions US$)
Industry,,,,,,
Automotive,33.333333,34.333333,1182.666667,18.390000,23.063333,16.956667
Banking,21.916667,22.916667,815.750000,15.324167,191.402500,28.126667
Capital goods,11.000000,12.000000,514.000000,20.530000,40.820000,31.130000
Chemicals,44.000000,45.000000,1687.000000,3.770000,2.840000,39.690000
Conglomerate,0.000000,1.000000,54.000000,86.850000,192.590000,228.630000
Consumer Goods,32.000000,33.000000,1149.500000,7.885000,10.565000,37.380000
Diversified,25.000000,26.000000,827.000000,12.350000,36.940000,14.770000
Financials,22.500000,23.500000,862.000000,9.955000,81.222500,23.095000
Gems and jewellery,43.000000,44.000000,1656.000000,30.000000,2.700000,2.500000
Infotech,22.000000,23.000000,856.600000,13.808000,13.002000,70.828000
Iron and steel,18.000000,19.000000,717.666667,17.850000,22.630000,15.333333
Metals and mining,16.666667,17.666667,654.000000,18.246667,25.016667,17.206667
Oil and gas,21.200000,22.200000,832.600000,38.602000,32.990000,20.114000
Pharmaceuticals,36.000000,37.000000,1362.000000,5.100000,9.300000,28.970000
Renewable energy,42.000000,43.000000,1570.000000,0.410000,3.930000,59.060000
Retail,49.000000,50.000000,1759.000000,4.000000,1.930000,34.120000
Shipping,41.000000,42.000000,1489.000000,2.100000,11.360000,24.120000
Telecommunication,18.000000,19.000000,710.000000,14.980000,48.720000,56.800000
Utilities,26.333333,27.333333,1003.666667,8.033333,31.890000,26.346667

In [ ]:
#To apply an operation on a particular column
Industry['Value(billions US$)'].sum()

Industry
Automotive             50.87
Banking               337.52
Capital goods          31.13
Chemicals              39.69
Conglomerate          228.63
Consumer Goods         74.76
Diversified            14.77
Financials             92.38
Gems and jewellery      2.50
Infotech              354.14
Iron and steel         46.00
Metals and mining      51.62
Oil and gas           100.57
Pharmaceuticals        28.97
Renewable energy       59.06
Retail                 34.12
Shipping               24.12
Telecommunication      56.80
Utilities              79.04
Name: Value(billions US$), dtype: float64